div>label {
    float: left;
    width: 150px;
    /*Underline the text with the text width and color red*/
    text-decoration: underline;
    text-decoration-color: red;
    text-transform: uppercase
}

div{
    margin-top: 25px;
}

ul{
    margin-left: 150px;
}

select{
    background-color: rgb(200, 192, 192);
}

textarea{
    width: 250px;
    height: 100px;
}

span{
    color: red;
    margin-left: 150px;
}

input[type="submit"], input[type="reset"]{
    background-color: rgb(200, 192, 192);
}